{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "> 1% in FR",
            "ie >= 11",
            "Safari >= 9"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "debug": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env"
      ]
    }
  }
}
